#input {
  padding: 10px;
}

#input input {
  width: 50vw;
  height: 30px;
  padding: 3px 10px;

  background-color: #cccccc4b;

  border: 1px solid #a8a8a8;
  border-radius: 5px;
}

#input input:focus {
  outline-color: #8a8a8a;
}
