<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+TC:wght@100&family=Martel:wght@900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/2ccf1bd19b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/style.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="app">
      <section v-if="loading">Loading</section>
      <section v-else>
        <div id="directory">
          <div class="container">
            <div id="title">DIRECTORY</div>
            <div class="input-item">
              <span class="item-title">Name</span>
              <input type="text" class="item-input" v-model="input.name" />
            </div>
            <div class="input-item">
              <span class="item-title">Email</span>
              <input
                type="email"
                name="Email"
                class="item-input"
                v-model="input.email"
              />
            </div>
            <div class="btn-group">
              <button class="btn confirm" @click="confirm()">
                CONFIRM
              </button>
              <button class="btn cancel" @click="cancel()">CANCEL</button>
            </div>
          </div>
        </div>
        <div id="info-list">
          <div v-for="(item, index) in contents" class="info-item">
            <span class="info-index">{{ item.id }}</span>
            <span class="info-name">{{ item.name }}</span>
            <span class="info-email">{{ item.email }}</span>
            <button class="item-btn-width modify" @click="modify(index)">
              修改
            </button>
            <button class="item-btn-width delete" @click="deleteData(index)">
              刪除
            </button>
          </div>
        </div>
      </section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
