<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/2ccf1bd19b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/style.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="app">
      <div class="container">
        <div class="title-bar">
          <select v-model="input.sex" name="" id="">
            <option value="男">男生</option>
            <option value="女">女生</option>
          </select>
          <span>姓名 </span>
          <input v-model.trim="input.name" type="text" />
          <span>電話 </span>
          <input v-model="input.phone" type="text" @keyup.enter="confirm()" />
          <input type="button" value="Confirm" @click="confirm()" />
        </div>

        <div class="table">
          <div class="item" v-for="(item,index) in menu">
            <span class="index">{{ index+1 }}</span>
            <span class="sex">{{ item.sex }}</span>
            <span class="name">{{ item.name }}</span>
            <a :href="item.link" class="phone">{{ item.phone }}</a>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
