html {
  height: 100%;
}

body {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  margin: 0px 30px;
  height: 500px;
  max-width: 760px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  margin: 25px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slogan {
  font-family: 'Noto Sans TC', sans-serif;
  color: #adadad;
  margin: 10px 0 50px 0;
  padding: 10px 0;
  width: 400px;
  background: #49555f;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#select-bar {
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#select-bar i {
  font-size: 30px;
}

.select-item {
  margin: 0 50px;

  font-size: 18px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Component */
.select-item-height {
  height: 25px;
}

/* Component */
.select-item-layout {
  padding: 0 20px;

  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.select-item-id {
  padding: 0 20px 0 30px;
  background-color: #4a4063;
  border-radius: 10px 0 0 0;
}

.select-item-sex {
  background-color: #729484;
}

.select-item-name {
  background-color: #7c7c7c;
}

.select-item-phone {
  background-color: #f8806b;
  border-radius: 0 0 10px 0;
}

.v-enter,
.v-leave-to {
  opacity: 0;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 1s;
}
