html {
  height: 100%;
}

body {
  background-color: #5ecc95;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app {
  margin: 0px 30px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
}

.input-area {
  margin-bottom: 10px;
  padding: 0 50px;
  height: 100%;
  width: auto;
  background-color: #2f4d66;
  border-radius: 10px;
  font-size: 15px;

  /* horizontal & vertical of font, the line-height need to equal height */
  text-align: center;
  line-height: 50px;
  font-family: 'Noto Sans TC', sans-serif;
}

.filter-ara {
  margin-bottom: 10px;
  padding: 0 50px;
  height: 100%;
  width: auto;
  background-color: #2f4d66;
  border-radius: 10px;
  font-size: 15px;

  /* horizontal & vertical of font, the line-height need to equal height */
  text-align: center;
  line-height: 50px;
  font-family: 'Noto Sans TC', sans-serif;
}

.table {
  margin-top: 10px;
  width: 100%;
  min-height: 50px;
  background-color: rgba(221, 221, 221, 0.562);
  border-radius: 7px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
}

.item {
  margin: 5px;
  padding: 5px;
  width: 350px;
  display: flex;
  flex-direction: row;
  font-family: 'Noto Sans TC', sans-serif;
}

.index {
  padding: 0 5px;
  background-color: #4a4063;
  text-align: center;
  border-radius: 5px 0 0 5px;
  color: aliceblue;
}

.sex {
  padding: 0 10px;
  text-align: center;
}

.name {
  padding: 0 5px;
  background-color: #7c7c7c;
  border-radius: 0 5px 5px 0;
  text-align: center;
}

.phone {
  padding: 0 5px 0 10px;
  text-align: center;
}

.boy {
  background-color: #82acc8;
}

.girl {
  background-color: #da6464;
}
